* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.logo {
  font-weight: bolder;
  font-size: larger;
  padding-top: 10px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.text {
  font-weight: bold;
  font-size: large;
  padding: 5px;
  text-align: center;
}
.signup-container {
  gap: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.mainWrapper{
    padding:  30px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #99999975;
}
.signup-container1, .signup-container2, .signup-container3{
    display: flex;
    gap: 10px;
}
.signup-container1 input, .signup-container2  input, .signup-container3 input{
    padding: 10px;
    border: 1px solid #999;
    outline: none;
    border-radius: 5px;
}
.signup{
    width: 100%;
}
.terms-and-conditions{
    padding: 10px 0;
}
.signup button{
    text-transform: capitalize;
    width: 100%;
    color: #fff;
    background-color: #068353;
    padding: 10px;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 7px;

}
.loginResponse{
    margin-top: 10px;
}
@media (max-width: 768px) {
  .signup-container1, .signup-container2, .signup-container3{
    flex-direction: column;
}
}